body{
    background-color: #5a658d;
}
h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: #f5e1b3;
}
ul{
    list-style-type: none;
    background-color: #d0a57a;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
ul li{
    float: left;
}
ul li a{
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    display: block;
    color: #2f5f6a;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
ul li a:hover{
    background-color: #f5d4b3;
}
ol{
    list-style: none;
    counter-reset: contador;
}
ol li::before{
    content: "Curso " counter(contador)':';
    font-family: 'Gochi Hand', cursive;
    font-size: 30px;
    color: #d0b67a;
}
ol li a{
    font-family: 'Gochi Hand', cursive;
    font-size: 30px;
    color: #d0b67a;
    text-align: left;
    padding-top: 10px;
    padding-right: 70%;
    padding-bottom: 10px;
    text-decoration: none;
    counter-increment: contador;
}
ol li a:hover{
    background-color: #7f87a6;
    color: #fff3d9;
}