body{
    background-color: #b5deff;
}
h1{
    font-size: 75px;
    font-family: fantasy;
    text-align: center;
    background-color: #cab8ff;
    color: #fcffa6;
    margin: 10px 300px;
    border-radius: 20px;
}
caption{
    font-size: 50px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #c1ffd7;
    line-height: 100px;
}
table{
    width: 50%;
}
table, th, td{
    font-size: 20px;
    border: 3px solid #cab8ff;
    border-collapse: collapse;
    padding: 5px;
}
th{
    background-color: #fcffa6;
    color: #cab8ff;
}
tr:nth-child(even){
    color: #fcffa6;
}
tr:nth-child(odd){
    color: #c1ffd7;
}